.main h1{
    text-align: center;
    color: black;
}
.cards-img img {
    max-width: 500px;
    display: block;
    border-radius: 5px;
    max-height: 350px;

}
.cards-img {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards-img p{
    font-size: 20px;
    padding-bottom: 5px;
}
.cards-img a {
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    background-color: #cc0000;
    color: #ffffff;
    width: 200px;
    height:30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 8px;
    margin-bottom: 20px;
    
}
